.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.w-100 {
  width: 100%;
}
.h-35 {
  height: 35px;
}
.btn {
  border: none;
  color: #fff;
  height: 38px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer !important;
}
.btn-primary {
  background: #5954e9;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
